@model IEnumerable<bitirmeProje.Models.Veliler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Veliler</h2>
<p>
    @Html.ActionLink("Veli Ekle", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.adSoyad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.adSoyad)
            </td>
            <td>
                <span>
                    <a href="@Url.Action("Edit","AdminVeli",new { id = item.veliID })"><span class="glyphicon glyphicon-pencil"></span></a>
                </span>
            </td>
        </tr>
    }

</table>